@keyframes imganimation {
    0% {

        transform: translateY(3px) ;
    }


	50% {

        transform: translateY(0px) ;
    }
    to {

        transform: translateY(3px) ;
    }
}

body {


    animation-duration: 1.6s;

    animation-name: imganimation;

    animation-timing-function: ease-in-out;

    animation-iteration-count: infinite;
}



/* For the wardrobe */
img 
{

filter: drop-shadow(0 0 0.75rem #a6d2df);

}





.bg-hatmachine {
  position: absolute;
  left: 500px;
  top: 120px;
  width: 90px;
}
