





@keyframes imganimation {
    0% {
	filter: drop-shadow(0 0 0.25rem #a6d2df);
        transform: translateY(3px) ;
    }


	50% {
		filter: drop-shadow(0 0 0.55rem #a6d2df);
        transform: translateY(0px) ;
    }
    to {
	filter: drop-shadow(0 0 0.25rem #a6d2df);
        transform: translateY(3px) ;
    }
}

body {


    animation-duration: 1.6s;

    animation-name: imganimation;

    animation-timing-function: ease-in-out;

    animation-iteration-count: infinite;
}



/* For the wardrobe */
img 
{

filter: drop-shadow(0 0 0.25rem #a6d2df);

}


